div {
}
header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
nav span {
  display: inline-flex;
  padding: 0px 10px;
}
.article  p {
  font-family: Georgia;
 font-size: 17px;
 color: black;
}

a {
  color: black;
}

#logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
#logo p {
  color: aquamarine;
  margin-left: 10px;
}
.main-content {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 40px;
}

.column {
  width: 0px;
  display: flex;
  flex-direction: column;
}

.sub-column{
  display: flex;
  flex-direction: row wrap;

}
.small-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-headline {
  display: flex;
}

.img-headline p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#left {
  display: flex;
  width: 630px;
}

#center {
  width: 300px;
  display: flex;
}

#right{
  width: 240px;
  display: flex;
}

#top-story p {
  font-size: 40px;
}

#top-story {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}
#fall-img {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}
#hipster-img {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}
#cat-img {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}
